<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/navebar.ejs') %>
        <section class="menu">
            <div class="cardModify">
                <form action="" method="post">
                    <div class="card module">
                        <h2>Module :</h2>
                        <select name="module" id="module">
                            <option value="<%=module.code_module%>"><%=module.code_module%></option>
                        </select>
                    </div>
                    <div class="card creneau">
                        <h2>Créneau :</h2>
                        <%
                        var dd = String(creneau.Creneau.date.getDate()).padStart(2, '0');
                        var mm = String(creneau.Creneau.date.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = creneau.Creneau.date.getFullYear();
                        let result = dd + '/' + mm + '/' + yyyy;
                        %>
                        <select name="creneau" id="creneau">
                            <option value="<%=creneau.Creneau.code_creneau%>"><%= result %>     <%=creneau.Creneau.start_time.getHours() - 1%>:<%=creneau.Creneau.start_time.getMinutes()%>:00 - <%=creneau.Creneau.end_time.getHours() - 1%>:<%=creneau.Creneau.end_time.getMinutes()%>:00</option>
                        </select>
                    </div>
                    <div class="card creneau">
                        <h2>La salle :</h2>
                        <select name="local" id="local">
                            <option value="<%=local.code_local%>"><%=local.code_local%></option>
                        </select>
                    </div>
                    <div class="salle">
                        <h2>Les surveillants :</h2>                           
                            <div class="scroll">
                                <div class="checkbox">
                                    <%
                                       for(let index in enseignants_existent){%>
                                        <div class="label">
                                          <label for="surveillant"><%=enseignants_existent[index].Enseignant.nom_enseignant%> <%=enseignants_existent[index].Enseignant.prenom_enseignant%> ( <%=enseignants_existent[index].nb%> )</label>
                                          <input type="checkbox" name="surveillant" id="surveillant" value="<%=enseignants_existent[index].Enseignant.code_enseignant%>" checked>  
                                        </div>
                                       <%}%>
                                    <%
                                    for(let index in enseignants){%>
                                      <div class="label">
                                          <label for="surveillant"><%=enseignants[index].nom_enseignant%> <%=enseignants[index].prenom_enseignant%> ( <%=enseignants[index].nb%> )</label>
                                          <input type="checkbox" name="surveillant" id="surveillant" value="<%=enseignants[index].code_enseignant%>">  
                                      </div>
                                    <%}%>
                                </div>
                            </div>
                    </div>
                    <button type="submit">Terminer</button>
                </form>
            </div>
        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>