<%- include('./partials/header.ejs') %> 
<body>
    <div class="container active" id="overlay">

        <%
          if(user.type == 'SI' || user.type == 'IA'){%>
            <%- include('./partials/navebar.ejs') %> 
        <%}%>
        
        <%
          if(user.type == 'VD'){%>
            <%- include('./partials/navbars/vd_navbar.ejs') %>
        <%}%>

        <%
           if(user.type == 'SC'){%>
            <%- include('./partials/navbars/sc_navbar.ejs') %>
        <%}%>
        <%
         if(user.type == 'ENS'){%>
          <%- include('./partials/navbars/ens_navbar.ejs') %>
        <%}%>
        
        <section class="menu">
            <div class="table" id="table">
                <div class="print" id="print">
                    <div class="title">
                        <div class="info">
                            <h1 class="green">Palier:</h1>
                            <h1><%= niveau%></h1>
                        </div>
                        <div class="info">
                            <h1 class="green">Section: </h1>
                            <h1><%=section.code_specialite%>_<%=section.nom_section%></h1>
                        </div>
                    </div>
                    <div class="thead top">
                        <div class="box-table one">
                            <h2>Date</h2>
                        </div>
                        <div class="box-table">
                            <h2>Horaire</h2>
                        </div>
                        <div class="box-table">
                            <h2>Module</h2>
                        </div>
                        <div class="box-table">
                            <h2>Salle</h2>
                        </div>
                        <%
                          if(user.type == 'SC' || ((user.type == 'SI' || user.type == 'IA') && flag == true)){%>
                            <div class="box-table">
                                <h2>Action</h2>
                            </div>
                          <%}%>
                        
                    </div>
                    <% 
                      for(let index in exams){%>
                    
                        <%
                                var dd = String(exams[index].Creneau.date.getDate()).padStart(2, '0');
                                var mm = String(exams[index].Creneau.date.getMonth() + 1).padStart(2, '0'); //January is 0!
                                var yyyy = exams[index].Creneau.date.getFullYear();
                                let result = dd + '/' + mm + '/' + yyyy;
                        %>
                    <div class="thead two" id="<%=index%>">
                        <div class="box-table one">
                            <h2><%= result %></h2>
                        </div>
                        <div class="box-table">
                            <h2><%=exams[index].Creneau.start_time.getHours() - 1%>:<%=exams[index].Creneau.start_time.getMinutes()%>:00</h2>
                        </div> 
                        <div class="box-table">
                            <h2><%=exams[index].code_module%></h2>
                        </div>
                        <div class="box-table">
                            <h2><%=exams[index].locaux_presentation%></h2>
                        </div>

                        <%

                        if(user.type == 'SC'){%>
                        
                            <div class="box-table">
                                <a href="/pdf/<%=section.code_section%>/<%=exams[index].code_module%>/<%=session%>/pvexamen"><button>Générer</button></a>
                            </div>
                        <%}%>
                        <%
                        if((user.type == 'IA' || user.type == 'SI') && flag == true){%>
                            <div class="box-table">
                                <button id="test" onclick="delete_plan(this.id , {'module' : '<%=exams[index].code_module%>' , 'section' : '<%=section.code_section%>' , 'id' : '<%=index%>'})" data-modal-target="#delete-dialog" >Supprimer</button>
                            </div>
                            

                        <%}%>
                    </div>
                    <%}%> 
                </div>

                <%
                     if(user.type == 'SC'){%>

                        <a href="/pdf/<%=semestre%>/<%=session%>/<%=section.code_section%>/plannings">

                             <div class="generate">
                                <button onclick="generatePDF()" id="buttongenerer">Générer l'emploi du temps</button>
                             </div>
                        </a>
                         
                <%}%>
            </div>            
        </section>
    </div>
    <div class="delete-dialog" id="delete-dialog">
                    <div class="dialog-header">
                        <div class="title">
                          <p>Confirmer la suppression</p>    
                        </div>
                        <button class="close-button" id="close-button">&times;</button>
                    </div>    

                    <div class="dialog-body">
                        <p>
                         Voulez vous vraiment retirer  le module <span id="module_name">ALGO</span> de la planification ?
                        </p>
                    </div>
                    <div class="dialog-footer">
                        <button class="cancel-button" id="cancel">Annuler</button>
                        <button class="delete-button" id="confirm">Supprimer</button>   
                    </div>
    </div>
    <script>
        
        const dialog = document.getElementById('delete-dialog');
        const content = document.getElementById('overlay');
        const cancel = document.getElementById('cancel');
        const confirm = document.getElementById('confirm');
        const close_button = document.getElementById('close-button');
        

        const showDialog = () =>{
            dialog.classList.add('active');
            content.classList.remove('active');
        }

        const dismissDialog = () =>{
            content.classList.add('active');
            dialog.classList.remove('active');
        }

       


    

 
    function delete_plan(id , result){  
         

        document.getElementById('module_name').innerHTML = result.module;

        showDialog();
        cancel.addEventListener('click' , () => dismissDialog());
        confirm.addEventListener('click' , () => {

                    $.ajax({
                        url  : "/ajax/examen",
                        method : 'DELETE',
                        data : {
                            'section' : result.section,
                            'module' : result.module,
                            'session' : '<%=session%>',
                        },
                        success : function(data){
                                console.log(data);
                                document.getElementById(result.id).remove();

                        },
                        error : function(err){
                            console.log(err);
                        }
            
           })          
            
            
            dismissDialog();
        });
        close_button.addEventListener('click' , () => dismissDialog());

       }
  
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>