<%- include('./partials/header.ejs') %> 
<body>
    <div class="container">

        <%
          if(user.type == 'SI' || user.type == 'IA'){%>
            <%- include('./partials/navebar.ejs') %> 
        <%}%>
        
        <%
          if(user.type == 'VD'){%>
            <%- include('./partials/navbars/vd_navbar.ejs') %>
        <%}%>

        <%
           if(user.type == 'SC'){%>
            <%- include('./partials/navbars/sc_navbar.ejs') %>
        <%}%>
        
        <section class="menu">
            <div class="table" id="table">
                <div class="print" id="print">
                    <div class="title">
                        <div class="info">
                            <h1 class="green">Palier:</h1>
                            <h1><%= niveau%></h1>
                        </div>
                        <div class="info">
                            <h1 class="green">Section: </h1>
                            <h1><%=section.code_specialite%>_<%=section.nom_section%></h1>
                        </div>
                    </div>
                    <div class="thead top">
                        <div class="box-table one">
                            <h2>Date</h2>
                        </div>
                        <div class="box-table">
                            <h2>Horaire</h2>
                        </div>
                        <div class="box-table">
                            <h2>Module</h2>
                        </div>
                        <div class="box-table">
                            <h2>Salle</h2>
                        </div>
                        <%
                          if(user.type == 'SC'){%>
                            <div class="box-table">
                                <h2>Action</h2>
                            </div>
                          <%}%>
                        
                    </div>
                    <% 
                      for(let index in exams){%>
                    
                        <%
                                var dd = String(exams[index].Creneau.date.getDate()).padStart(2, '0');
                                var mm = String(exams[index].Creneau.date.getMonth() + 1).padStart(2, '0'); //January is 0!
                                var yyyy = exams[index].Creneau.date.getFullYear();
                                let result = dd + '/' + mm + '/' + yyyy;
                        %>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2><%= result %></h2>
                        </div>
                        <div class="box-table">
                            <h2><%=exams[index].Creneau.start_time.getHours() - 1%>:<%=exams[index].Creneau.start_time.getMinutes()%>:00</h2>
                        </div> 
                        <div class="box-table">
                            <h2><%=exams[index].code_module%></h2>
                        </div>
                        <div class="box-table">
                            <h2><%=exams[index].locaux_presentation%></h2>
                        </div>

                        <%

                        if(user.type == 'SC'){%>
                        
                            <div class="box-table">
                                <a href="/<%=section.code_section%>/<%=exams[index].code_module%>/pvexamen"><button>Générer</button></a>
                            </div>
                        <%}%>
                    </div>
                <%}%> 
                </div>

                <%
                     if(user.type == 'SC'){%>

                        <div class="generate">
                            <a href="/<%=semestre%>/<%=session%>/<%=section.code_section%>/plannings"><button onclick="generatePDF()" id="buttongenerer">Générer l'emploi du temps</button></a>
                        </div>
                         
                <%}%>
            
        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>