<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <%
         if(user.type == 'SC'){%>
            <%- include('./partials/navbars/sc_navbar.ejs') %>
         <%}%>

         <%
          if(user.type == 'ENS'){%>
            <%- include('./partials/navbars/ens_navbar.ejs') %>
          <%}%>
        <section class="menu">
          <div class="box">
            <div class="insidebox semestre">
                <p>Choisit le semestre :</p>
                <select name="semestre" id="semestre">
                    <option value="1">Semestre 1</option>
                    <option value="2">Semestre 2</option>
                </select>
            </div>
            <div class="insidebox session">
                <p>Choisit la session :</p>
                <select name="session" id="session">
                    <option value="1">Examen</option>
                    <option value="2">Rattrapage</option>
                </select>
            </div>
            <div class="button">
                <button id="confirm">Confirmer</button>
            </div>
            <div id="result">
                   
            </div>
          </div>

        </section>
    </div>

    <script>
     document.getElementById('confirm').addEventListener('click' , () =>{
         const semestre = $("#semestre").val();
         const session = $("#session").val();
         
         
        let type = '<%=user.type%>';
        if(type == 'ENS'){
           console.log('I am here');
           let email = '<%=user.email%>';
           let code_enseignant = '<%=code_enseignant%>';

           console.log(email);
          
           $.ajax({
                    url : '/ajax/verify_convocation',
                    data : {
                        'code_enseignant' : code_enseignant,
                        'semestre' : semestre,
                        'session' : session
                    },
                    success : function(data){
                                    if(data.data == true){
                                        window.location.href = `/pdf/${semestre}/${session}/${code_enseignant}/convocation`;
                                    }
                                    else if(data.data == false){
                                            if(document.getElementById('result').textContent == 'Vous êtes pas encore affecté pour surveiller'){
                                                    document.getElementById('result').innerHTML = 
                                                    '<p></p>';

                                                    setTimeout(() =>{
                                                        document.getElementById('result').innerHTML = 
                                                        '<p>Vous êtes pas encore affecté pour surveiller</p>';
                                                        } , 500)
                                            }
                                            else{
                                                document.getElementById('result').innerHTML = 
                                                '<p>Vous êtes pas encore affecté pour surveiller</p>';
                                            }
                                    }
            },
                    error : function(error){
                         console.log(error);
                    }
           });
            
           //    window.location.href = `/pdf/${semestre}/${session}/${code_enseignant}/convocation`;
        }
        if(type == 'SC'){
            window.location.href = `/enseignants/generer-convocations/${semestre}/${session}`;
        }
     });




    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>