<%- include('./partials/header.ejs') %>
<body>
    <div class="container">

        <%
        
        if(user.type == 'SI' || user.type == 'IA'){%>
            <%- include('./partials/navebar.ejs') %>
        <%}%>

        <%
        if(user.type == 'SC'){%>
            <%- include('./partials/navbars/sc_navbar.ejs') %>
        <%}%>

        <%

        if(user.type == 'VD'){%>
            <%- include('./partials/navbars/vd_navbar.ejs') %>
        <%}%>
        
        <%
        if(user.type == 'SP'){%>
            <%- include('./partials/navbars/sp_navbar.ejs') %>
        <%}%>  
        
        <section class="menu">
            <div class="dashbord">
                <div class="boxes">
                <div class="idbox">
                    <div class="boxicon">
                        <ion-icon name="document-outline"></ion-icon>
                    </div>
                    <div class="icontext">
                        <p class="number"><%=nb1%></p>
                        <p class="nameun"><%=text1%></p>
                    </div>
                </div>
                <div class="idbox">
                    <div class="boxicon">
                        <ion-icon name="browsers-outline"></ion-icon>
                    </div>
                    <div class="icontext">
                        <p class="number"><%=nb2%></p>
                        <p class="nameun two"><%=text2%></p>
                    </div>
                </div>
                <div class="idbox">
                    <div class="boxicon">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                    <div class="icontext">
                        <p class="number"><%=nb3%></p>
                        <p class="nameun three"><%=text3%></p>
                    </div>
                </div>
                <div class="idbox">
                    <div class="boxicon">
                        <ion-icon name="school-outline"></ion-icon>
                    </div>
                    <div class="icontext">
                        <p class="number"><%=nb4%></p>
                        <p class="nameun four"><%=text4%></p>
                    </div>
                </div>
            </div>
            <div class="charts">
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="chart">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
   <script>
       const ctx = document.getElementById('myChart').getContext('2d');
       const Mychart = new Chart(ctx, {
        type: 'pie',
        data:{
            labels: [
            'Red',
            'Blue',
            'Yellow'
            ],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100],
            backgroundColor: [
            '#3DD984',
            '#1D6F42',
            '#113E25'
            ],
            hoverOffset: 4
        }]
        },
        options: {
                responsive: true,
                maintainAspectRatio: false,
            }
       });
       const ctx2 = document.getElementById('myChart2').getContext('2d');
       const Mychart2 = new Chart(ctx2, {
        type: 'doughnut',
        data:{
            labels: [
            'Red',
            'Blue',
            'Yellow'
            ],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100],
            backgroundColor: [
            '#113E25',
            '#1D6F42',
            '#3DD984'
            ],
            hoverOffset: 4
        }]
        },
        options: {
                responsive: true,
                maintainAspectRatio: false,
            }
       });
   </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>