<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/navebar.ejs') %>
        <section class="menu">
            <div class="modules">
                <h2>Les modules :</h2>
                <div class="cards">
                   <div class="scroll">
                       <% 
                       for(let index in modules_planifiees){%>
                        <a href="/planifier/<%=semestre%>/<%=section%>/<%= modules_planifiees[index].code_module%>/update">
                            <div class="cardM">
                                    <p><%= modules_planifiees[index].nom_module%></p>   
                                    <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                       </a> 
                    <%}%>
                   </div>
                </div>
            </div>

        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>