<%- include('./partials/header.ejs') %>
<body>
    <div class="container active" id="overlay">

        <%
        if(user.type == 'SI' || user.type == 'IA'){%>
            <%- include('./partials/navebar.ejs') %>
        <%}%>

        <%
        if(user.type == 'SC'){%>
            <%- include('./partials/navbars/sc_navbar.ejs') %>
        <%}%>

        <%

        if(user.type == 'VD'){%>
            <%- include('./partials/navbars/vd_navbar.ejs') %>
        <%}%>

        <section class="menu">
            <div class="listesurveillance">
                <div class="listeHeader">
                    <p>Chargé de cours </p>
                </div>
                <div class="chargecours">
                    <p><%=data.charge_cours%></p>
                </div>
                <div class="surveilanttitle">
                        <p>Les surveillants </p>
                </div>
                <div class="listesurveillants">
                    <div class="scroll">
                        <%
                         for(let index in data.surveillants){%>
                            <p><%=data.surveillants[index].Enseignant.nom_enseignant%> <%=data.surveillants[index].Enseignant.prenom_enseignant%></p>
                        <%}%>
                    </div>
                </div>
            </div>
        </section>
      

       

    </div>
    <%
      if(user.type == 'VD'){%>

        <div class="delete-dialog-reservations" id="delete-dialog">
                    <div class="dialog-header">
                        <div class="title">
                          <p>Confirmer la suppression</p>    
                        </div>
                        <button class="close-button" id="close-button">&times;</button>
                    </div>    

                    <div class="dialog-body">
                        <p>
                         Voulez vous vraiment supprimer toutes les reservations ?
                        </p>
                    </div>
                    <div class="dialog-footer">
                        <button class="cancel-button" id="cancel">Annuler</button>
                        <button class="delete-button" id="confirm">Supprimer</button>   
                    </div>
        </div>

      <%}%>
    <script>
        const dialog = document.getElementById('delete-dialog');
        const content = document.getElementById('overlay');
        const cancel = document.getElementById('cancel');
        const confirm = document.getElementById('confirm');
        const close_button = document.getElementById('close-button');
        

        const showDialog = () =>{
            dialog.classList.add('active');
            content.classList.remove('active');
        }

        const dismissDialog = () =>{
            content.classList.add('active');
            dialog.classList.remove('active');
        }

        const delete_reservation = document.getElementById('delete_reservation')
        .addEventListener('click' , () =>{
            showDialog();
            cancel.addEventListener('click' , () => dismissDialog());
            confirm.addEventListener('click' , () => {
                $.ajax({
                        url  : "/ajax/reservations",
                        method : 'DELETE',
                        success : function(data){
                                console.log(data);
            
                        },
                        error : function(err){
                            console.log(err);
                        }

                });        
                dismissDialog();
            });


close_button.addEventListener('click' , () => dismissDialog());            
        });    
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>